*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

img{
    display:block;
    width:100%;
    object-fit: cover;
    height: 100%;
}

h2{
    font-size: 65px;
    line-height: 70px;
    width: 60%;
    margin:0 auto;
    text-align: center;
    align-self:center;
}

h1{
    text-align: center;
    font-size: 18px;
    letter-spacing: 3.6px;
    font-weight: lighter;
    margin-bottom: 1rem;
}


.work{
    width: 100%;
    min-height: 100vh;
    margin-top: 3rem;
}

.wrapper{
    position:relative;
    margin-top: 4rem;
    width: 100%;
}

.slider-container{
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
}

.slider-track{
    display: flex;
    width: 90%;
    transition: all .5s ease;
}

.slider-item{
    flex-basis: 33%;
    height: 400px;
    position:relative;
    margin-right: 30px;
}
.item-hover{
   width: 100%;
   background-color: rgba(0, 225, 255, 0.781);
   top:0;
   left:0;
   z-index: -10;
   position:absolute;
   height:100%;
}

.item-hover h3{
    position: absolute;
    bottom: 5%;
    left:2%;
    font-size: 28px;
    color:white;
}

.item-hover p{
    position:absolute;
    bottom: 0;
    left:2%;
    font-size: 16px;
    color:white;
}

.slider-item:hover .item-hover{
    z-index: 1;
}


.prev, 
.next{
    cursor:pointer;
    position: absolute;
    top:50%;
    width: 60px;
    height: 60px;
    border:1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: lighter;
    transition:0.5s ease;
    transform: translateY(-50%);
    outline: transparent;
}

.next{
    right:20px;
}

.prev{
    left:20px;
}

.prev:hover, .next:hover{
    color: rgb(0, 225, 255);
    border-color: rgb(0, 225, 255);
}


